doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='stylesheets/savedcontact.css')
        title Contact saved
    body
        h1 Contact saved successfully
    div
        .nextstep
            label What would you like to do now?
            br
        .nextstep
            .left
                br
                form(method='get', action='/insertData')
                    | `
                    button.btn.orange(type='submit')
                        span Save another Contact
            .left
                br
                form(method='get', action='/getData')
                    | `
                    button.btn.orange(type='submit')
                        span Search a Contact
    script.
        function loadPage(tUrl){
            var url = "http://localhost:3010"+tUrl+"?valid="+tUrl.substring(1);
            window.location=url;
        }
