doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='stylesheets/savedcontact.css')
        title saved
    body
        h1 Contact saved successfully
    div
        .nextstep
            label What would you like to do now?
            br
        .nextstep
            .left
                label Save another contact
                br
                button.button(type='button')
                    span Save another
            .left
                label Search contacts
                br
                button.button(type='button')
                    span Search
                                      