doctype html
html
   head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      title Search Contact
      link(rel='stylesheet', type='text/css', href='stylesheets/stylessearch.css')
   body
      #page
         form#searchForm(method='post')
            fieldset
               input#s(type='text', name='searchquery')
               input#submitButton(type='submit', value='Submit')
      #results
      script(src='javascripts/jquery-1.12.4.min.js')

