doctype html
html
   head
      title Lets inset the data
   body
      label Please insert the data you want to get
      br
      label field 1
      input#field1(type='text')
      br
      button(onclick='#') search
