doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='stylesheets/insertData.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Robotocss')
        title
    body
        .container
            form(action='', method='post')
                h1 Save your Contact
                .form-group
                    input(type='text', required='required', name='fname')
                    label.control-label(for='input') First Name
                    i.bar
                .form-group
                    input(type='text', required='required', name='lname')
                    label.control-label(for='input') Last Name
                    i.bar
                .form-group
                    input(type='number', required='required', name='mnumber')
                    label.control-label(for='input') Mobile Number
                    i.bar
                .form-group
                    input(type='email', required='required', name='email1')
                    label.control-label(for='input') Email Id
                    i.bar
                .button-container
                    button.button(type='submit', onclick='onSubmit()', value='submit')
                        span submit
